<!DOCTYPE html>
<html>
  <head>
    <title>RorYoutubeLab4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class=" ">
        <ul>
              <li> <%= link_to 'Home', home_path %> </li>
              <li> <%= link_to 'Create Post', new_post_path %> </li>
        </ul>

    </nav>
    <div class="">
    <%= yield %>
    </div>
  </body>
</html>
